/* Normal desktop :1200px. */
@media (min-width: 771px) {
    #etapas3{
        top: -100px;
   }

   #etapas2{
    margin-top: 60px;
   }

   #etapas4{
    top: -120px;
}
#etapas{
    margin-top: 60px;
   }

#contatos_footer{
    right: -50px;
}

.intro_2{
    top: -130px;
    margin-left: 1%;
}

#subt{
    font-size: 45px;
}


}


/* Normal desktop :992px. */
@media (min-width: 993px) and (max-width: 1200px) {


    

}

 

@media (min-width: 992px) {
     
    .sobre {
        display: flex;
        flex-direction: column;
    }
    
}


 
/* small mobile :320px. */
@media (max-width: 770px) {
    #bemvindo{
       margin-top: 5%;
      margin-left: 2%;
      width: 100%;
    }

    #text_resu{
        font-size: 28px;
    }

    #text_bemvindo{
         width: 90%;
    }
    
    #area_ques{
        padding-top: 0px;
    }
    #resultado_pesq{
        padding-top: 0px;
    }

    #text_super{
        padding-top: 5%;
    }

    #equipe3{
        width: auto;
    }
  
    #footer_end{
        width: 620px;
    }
   
    #objetivo_mape{
        padding-top: 0px;
        padding-bottom: 0px;
        top: -180px;
    }
    
    #subt{
        font-size: 25px;
    }

    #subt2{
        font-size: 20px;
    }

    #intro_rev{
        padding-top: 100px;
    }

    #img_rev{
         top: -180px;
    }
    #img_ferr{
        top: -150px;
   }

   #img_ferr2{
    top: -240px;
}

#img_ferr3{
    top: -120px;
}
    #area_ques{
        padding-top: 0px;
    } 


    #img_super{
        width: 60%;
        margin-left: 20%;
    }

}
 

@media (max-width: 540px) {
    .container{
        margin-left: 15%;
    }

    #baixar_doc{
        margin-left: 15%;
        width: 540px;
    }
}